.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  /* background-color: rgb(251, 251, 255); */
}

.sidebarWrapper {
  padding: 20px;
  color: teal;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(200, 190, 190);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
  /* border-radius: 0px 8px 8px 0px; */
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
